body {
  font-family: "NanumSquare", sans-serif;
}

input[type="text"] {
  width: 400px;
  padding: 10px 15px;
  margin: 10px 10px;
}

#schoolList {
  margin: 10px 10px;
  overflow-y: scroll;
  max-height: 400px;
  line-height: 2rem;
}

#selected {
  margin: 10px 10px;
}
