.grid-item_grid-wrap__gRpzp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.grid-item_grid-item__QWKO6 {
  display: flex;
  text-align: center;
  margin-bottom: 0.5em;
}
.grid-item_grid-item__QWKO6 img {
  max-width: 10em;
  max-height: 10em;
  border-radius: 33%;
  border: 2px solid #79efa9;
  background-color: #d3ebdd;
  margin-bottom: 0.5em;
}
.grid-item_grid-item__QWKO6 div {
  margin-bottom: 0.5em;
}
